<% if @project_submission.images.attached? %>
  <div class="flex flex-wrap justify-center gap-4">
    <% @project_submission.images.each do |image| %>
      <%= image_tag image, class: 'rounded-md shadow max-w-full h-[200px] w-auto object-contain' %>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-500 text-center">No images uploaded.</p>
<% end %>
